@tailwind base;
@tailwind components;
@tailwind utilities;

section.hero{
  @apply block md:grid;
  grid-template-columns: .4fr .6fr;
}

.input {
  @apply block w-full mb-2 rounded-xl;
  @apply border p-2 border-gray-300 bg-gray-100
}

input:disabled {
  @apply cursor-not-allowed bg-gray-300
}

label{
  @apply text-gray-500 text-sm leading-tight;
}

button:disabled, .button:disabled {
  @apply bg-gray-300 text-gray-500 cursor-not-allowed
}

button[type="submit"], .submit {
@apply border-primary bg-primary text-white
}

button[type="submit"]:disabled, .submit:disabled {
@apply bg-red-400 border-0 cursor-not-allowed
}