@tailwind base;
@tailwind components;
@tailwind utilities;

section.hero{
  @apply block md:grid;
  grid-template-columns: .4fr .6fr;
}

input[type="email"],
input[type="password"],
input[type="tel"],
input[type="text"] {
  @apply block w-full mb-2 rounded-xl;
  @apply border p-2 border-gray-300 bg-gray-100
}

input[type="email"]:disabled,
input[type="password"]:disabled,
input[type="tel"]:disabled,
input[type="text"]:disabled {
  @apply bg-gray-300 border-0 text-gray-500 cursor-not-allowed
}

label{
  @apply text-gray-500 text-sm leading-tight;
}

label + input{
  margin-top: -2px;
}

button:disabled, .button:disabled {
  @apply bg-gray-300 text-gray-500 cursor-not-allowed
}

button[type="submit"], .submit {
@apply border-primary bg-primary text-white
}

button[type="submit"]:disabled, .submit:disabled {
@apply bg-red-400 border-0 cursor-not-allowed
}